@import '~@nativescript/theme/css/core.css';
@import '~@nativescript/theme/css/default.css';

//Variables de colores Estandar
$background_button: rgb(140, 112, 251);
$color_button : rgb(253, 254, 254);

.page {
    align-items: center;
    flex-direction: column;
}
.form {
    margin-left: 0;
    margin-right: 0;
    flex-grow: 2;
    vertical-align: top;
}

.input{
    background: #F2F2F2;
    font-size: 17;
    margin: 0;
    border: solid 1px #000;
    border-radius: 10%;
    padding-left: 20%;
}

.btn-button{
    padding: 5%;
}

.lupa{
    background: $background_button;
    color: $color_button;
    border:solid 1px #000;
    border-radius: 10%;
}

.input-field{
    padding: 5%;
}

.btn{
    background: $background_button;
    color: $color_button;
    border-radius: 30px;
    font-size: 24;
    font-weight: bold;
    text-transform: capitalize;
}

.text-field{
    font-size: 14; 
    text-transform: capitalize;
    padding: 12%;
    text-align: center;
    
}

.text-label{
    color: #000;
    font-size: 20; 
    text-transform: capitalize;
    padding: 12%;
    text-align: left;
    font-weight: bold;
}

.btn-image{
    border-radius: 30px;
    height:300;
}

.ActionBar{   
    color: $background_button; 
    font-size: 26; 
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    background: #ffffff;
}

.btn-image{
    border-radius: 30px;
    padding: 10px;
}

.textbutton{
    padding: 2%;
}

.label-float {
    color: White;
    font-family: 'Nordica Plus', 'nordicaclassicltext';
    font-weight: bold;
    font-size: 30;
}
.go_back{
    margin-top: 30px;
    margin-left: 30px;
}

.texto{
    text-align: left;
}